<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="../public/styles/restaurant_items.css"> -->





  <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/restaurant_items.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->
  <!-- <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/routes/users.js"></script> -->
  <title>Fine Dining - Orders</title>
</head>
<%- include('_partials/_header') %>
<body class="order">
  <div class="container">

    <form method="POST" action="/users/items">
      <h1>Menu</h1>
      <div class='menu'>

          <div class="first-menu-column">
            <h3>Entree:</h3>
            <div class="item">
            <% for(let item of items) { %>
              <% if(item.item_type_name==='entree' ) {%>
                <div class="inner-item">
                  <span>
                    <%= item.name %>
                      <input class="order_ammount" placeholder="0" type="text" name="<%=item.id %>">
                      $<%= item.cost %>
                  </span>
                  <br>
                  <%= item.description %>
                </div>
                <% } %>
                  <% } %>
                </div>
                    <h3>Appetiziers:</h3>
                    <div class="item">
                    <% for(let item of items) { %>
                      <% if(item.item_type_name==='appetizer' ) {%>
                        <div class="inner-item">
                          <span>
                            <%=item.name %>
                              <input class="order_ammount" placeholder="0" type="text" name="<%=item.id %>">
                              $<%= item.cost %>
                          </span>
                          <br>
                          <%= item.description %>
                        </div>
                        <% } %>
                          <% } %>
                        </div>
          </div>


          <div class="second-menu-column">
            <h3>Beverages:</h3>
            <div class="item">
            <% for(let item of items) { %>
              <% if(item.item_type_name==='beverage' ) {%>
                <div class="inner-item">
                  <span>
                    <%= item.name %>
                    <input class="order_ammount" placeholder="0" type="text" name="<%=item.id %>">
                    $<%= item.cost %>
                  </span>
                  <br>
                  <%= item.description %>
                </div>
                <% } %>
                  <% } %>
                </div>

                  <h3>Desserts:</h3>
                  <div class="item">
                  <% for(let item of items) { %>
                    <% if(item.item_type_name==='dessert' ) {%>
                      <div class="inner-item">
                        <span>
                          <%=item.name %>
                            <input class="order_ammount" placeholder="0" type="text" name="<%=item.id %>">
                            $<%= item.cost %>
                        </span>
                        <br>
                        <%= item.description %>

                      </div>
                      <% } %>
                        <% } %>
                      </div>

              </div>
          <!-- <td><button type="submit" class="btn btn-outline-danger">Delete</button></td> -->
        </div>
        <button class="btn btn-success" type="submit">Submit Order</button>
      </form>
    </div>
</body>

</html>
